{% extends "layout.twig" %}
{% block contenu %}
	<br/>
	<div class="row">
		<div style="display: block; text-align: -webkit-center;">
			<table>
				<caption>Titres musicaux</caption>
				<thead>
				<tr>
					<th>Artiste principal</th>
					<th>Titre</th>
					<th>Durée min</th>
					<th>Genre</th>
					<th>Type album</th>
					{% if globlogin is not empty %}
						<th>Scrobbler</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% if musiques_list %}
					{% for media in musiques_list %}
						<tr>
							<td>{{ media.NOM_ARTISTE }}</td>
							<td>{{ media.TITRE }}</td>
							<td>{{ media.DUREE }}</td>
							<td>{{ media.GENRE_MUSICAL }}</td>
							<td>{{ media.TYPE_ALBUM }}</td>
							{% if globlogin is not empty %}
								{% if not deja_scrobble(media.TITRE, media.NOM_ARTISTE) %}
									<td>{{ anchor('c=Medias_c&m=scrobbler/'~media.TITRE~'/'~media.NOM_ARTISTE,'Scrobbler', {'class':'button tiny radius info'}) }}</td>
								{% else %}
									<td>{{ anchor('c=Medias_c','Scrobbler', {'class':'button tiny radius secondary','disabled':'', 'title':"Vous ne pouvez scrobbler un même média qu'une seule fois par jour"}) }}</td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="{{ globlogin is empty ? '5': '6' }}">Aucun titre musical enregistré</td>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div style="display: block; text-align: -webkit-center;">
			<table>
				<caption>Films</caption>
				<thead>
				<tr>
					<th>Artiste principal</th>
					<th>Titre</th>
					<th>Genre cinématographique</th>
					{% if globlogin is not empty %}
						<th>Scrobbler</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% if films_list %}
					{% for media in films_list %}
						<tr>
						<td>{{ media.NOM_ARTISTE }}</td>
						<td>{{ media.TITRE }}</td>
						<td>{{ media.GENRE_CINEMA }}</td>
						{% if globlogin is not empty %}
							{% if not deja_scrobble(media.TITRE, media.NOM_ARTISTE) %}
								<td>{{ anchor('c=Medias_c&m=scrobbler/'~media.TITRE~'/'~media.NOM_ARTISTE,'Scrobbler', {'class':'button tiny radius info'}) }}</td>
							{% else %}
								<td>{{ anchor('c=Medias_c','Scrobbler', {'class':'button tiny radius secondary','disabled':'', 'title':"Vous ne pouvez scrobbler un même média qu'une seule fois par jour"}) }}</td>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="{{ globlogin is empty ? '3': '4' }}">Aucun film enregistré</td>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div style="display: block; text-align: -webkit-center;">
			<table>
				<caption>Livres</caption>
				<thead>
				<tr>
					<th>Artiste principal</th>
					<th>Titre</th>
					<th>Genre littéraire</th>
					{% if globlogin is not empty %}
						<th>Scrobbler</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% if livres_list %}
					{% for media in livres_list %}
						<tr>
							<td>{{ media.NOM_ARTISTE }}</td>
							<td>{{ media.TITRE }}</td>
							<td>{{ media.GENRE_LITTERAIRE }}</td>
							{% if globlogin is not empty %}
								{% if not deja_scrobble(media.TITRE, media.NOM_ARTISTE) %}
									<td>{{ anchor('c=Medias_c&m=scrobbler/'~media.TITRE~'/'~media.NOM_ARTISTE,'Scrobbler', {'class':'button tiny radius info'}) }}</td>
								{% else %}
									<td>{{ anchor('c=Medias_c','Scrobbler', {'class':'button tiny radius secondary','disabled':'', 'title':"Vous ne pouvez scrobbler un même média qu'une seule fois par jour"}) }}</td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="{{ globlogin is empty ? '3': '4' }}">Aucun livre enregistré</td>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
		<p class="footer">Page rendered in <strong>{elapsed_time}</strong> seconds</p>

	</div>


{% endblock %}
