<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>{{ anchor('',"Like and Share") }}</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Médias</a>
				<ul class="dropdown">
					<li>{{ anchor('c=Medias_c&m=liste_Medias', 'Liste des médias' ) }}</li>
					{% if globlogin is not empty %}
						<li>{{ anchor('c=Medias_c&m=addMedia', 'Ajouter un média' ) }}</li>
					{% endif %}
				</ul>
			</li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Statistiques</a>
				<ul class="dropdown">
					<li>{{ anchor('c=Medias_c&m=afficherStatsSemaine', 'Statistiques de la semaine' ) }}</li>
					<li>{{ anchor('c=Medias_c&m=afficherStats', 'Statistiques globales' ) }}</li>
				</ul>
			</li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Artistes</a>
				<ul class="dropdown">
					<li>{{ anchor('c=Artistes_c', 'Liste des artistes' ) }}</li>
					{% if globlogin is not empty %}
						<li>{{ anchor('c=Artistes_c&m=addArtiste', 'Ajouter un artiste' ) }}</li>
					{% endif %}
				</ul>
			</li>
			<li class="divider"></li>
			<li>{{ anchor('c=Users_c&m=liste_utilisateurInscrit', 'Liste des utilisateurs' ) }}</li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Documentations</a>
				<ul class="dropdown">
					<li>{{ anchor('https://twig.sensiolabs.org/doc/1.x', "Twig", {'target': '_blank'}) }}</li>
					<li>{{ anchor('http://foundation.zurb.com/sites/docs/v/5.5.3', "Foundation", {'target': '_blank'}) }}</li>
					<li>{{ anchor('https://secure.php.net/manual/fr', "PHP", {'target': '_blank'}) }}</li>
				</ul>
			</li>
		</ul>
		<ul class="right">

			{% if globlogin is empty %}
				<li class="active">{{ anchor('c=Users_c&m=connexion', 'Connexion' ) }}</li>
				<li class="divider"></li>
				<li>{{ anchor('c=Users_c&m=inscription', 'Inscription') }}</li>
			{% else %}
				{% if globadmin == 1 %}
					<li class="active">{{ anchor('c=Admin_c', 'Administration' ) }}</li>
				{% endif %}
				<li>{{ anchor('c=Users_c&m=deconnexion', 'Déconnexion ['~globlogin~']' ) }}</li>
			{% endif %}
		</ul>
	</section>
</nav>
