<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>{{ anchor('',"Like and Share") }}</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li {#class="active"#}><a href="#">Page 1</a></li>
			<li class="divider"></li>
			<li>{{ anchor('Users_c/liste_utilisateurInscrit', 'Liste des utilisateurs' ) }}</li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Artistes</a>
				<ul class="dropdown">
					<li>{{ anchor('Artistes_c', 'Liste des artistes' ) }}</li>
					{% if globlogin is not empty %}
						<li>{{ anchor('Artistes_c/addArtiste', 'Ajouter un artiste' ) }}</li>
					{% endif %}
				</ul>
			</li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Documentations</a>
				<ul class="dropdown">
					<li>{{ anchor('https://twig.sensiolabs.org/doc/1.x', "Twig", {'target': '_blank'}) }}</li>
					<li>{{ anchor('http://foundation.zurb.com/sites/docs/v/5.5.3', "Foundation", {'target': '_blank'}) }}</li>
					<li>{{ anchor('https://secure.php.net/manual/fr', "PHP", {'target': '_blank'}) }}</li>
				</ul>
			</li>
		</ul>
		<ul class="right">

			{% if globlogin is empty %}
				<li class="active">{{ anchor('Users_c/connexion', 'Connexion' ) }}</li>
				<li class="divider"></li>
				<li>{{ anchor('Users_c/inscription', 'Inscription') }}</li>
			{% else %}
				{% if globadmin == 1 %}
					<li class="active">{{ anchor('Admin_c', 'Administration' ) }}</li>
				{% endif %}
				<li>{{ anchor('Users_c/deconnexion', 'Déconnexion ['~globlogin~']' ) }}</li>
			{% endif %}
		</ul>
	</section>
</nav>
